.nav-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 60px;
    top: 0px;
    background:#F9DADA;
    
}
.navbutton >a{
    margin: -25px 50px;
    font-family: 'Kurale', serif;
    line-height: 100%;
    font-size: 20px;
    letter-spacing: 0.2em;
    font-weight: bold;
    color: #8AC6D1;
    z-index: 2;
}

.home{
    background: url(../images/Desktop.png) no-repeat;
    background-color: #F9DADA;
    background-size: cover;
    background-position: center center;
}

.navbar{
    margin-left: 0px;
    padding-top: 2%;
}

.rowhome1{
    justify-content: center;
    text-align: center;
}
.title{
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
    font-size: 5vw;
    
    color: #FFFFFF;
    padding-top: 5%;
    width : 100%;
}
.rowhome2{
    justify-content: center;
    text-align: center;

}
.avatar{
    
    object-fit: scale-down;
}
.rowhome3{
    justify-content: center;
    text-align: center;
    padding-top : 5%
}
.startBtn{
    width: 100%;
    background-color: #8AC6D1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Laila', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 56px;
    color : white;
}
.startBtn> a{
    color:white;
}
.about{
    background: url("../images/bg2.png") no-repeat;
    width: 100%;
    background-position:absolute; 
}
.DP{
    height: 34vw;
    width: 20vw;
    padding-top: 25%;
}
.name{
    padding-top: 6vw;
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    line-height: 6vw;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.desc{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw; 
    line-height: 3vw;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.row-desc{
    justify-content: center;
    text-align: center;
}
.col-desc{
    padding-left: 5%;
}
.container-about{
    padding-left: 6vw;

}
.row-contact{
    text-align: center;
    font-family: 'Kurale', serif;
    line-height: 100%;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 2vw 5vw;
}
#ig{
    width: 4vw;
    height:4vw;
}
#twt{
    width: 4vw;
    height:4vw;
}
#mail{
    width: 4vw;
    height:4vw;
}
#line{
    width: 4vw;
    height:4vw;
}
.col-contact >a{
    color : black
}
@media only screen and (max-width:700px){
    .avatar{
        width: 20px;
        height: 20px;
    }
   
}
.background3{
    background: url("../images/bg3.png") no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.education{
    font-family: Shrikhand;
    font-weight: normal;
    padding-top : 2%;
    font-size: 3vw;
    line-height: 3vw;
    text-align : center;
    color: #088E97;
}
.row-contact{
    justify-content: center;
    text-align: center;
}
.sdlogo{
    
    width: 8vw;
    height: 8vw;
    
}
.smplogo{
    width: 8vw;
    height: 8vw;
    
}
.smalogo{
    width: 8vw;
    height: 8vw;
    
}
.univlogo{
    width: 8vw;
    height: 8vw;
    
}
.sd{
    
    font-family: Laila;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7vw;
    line-height: 3vw;
    
    color: #AD6969;
}
.smp{
    padding-top : 5%;
    /* margin-bottom : 5%; */
    /* margin-top:5%;  */
    font-family: Laila;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7vw;
    line-height: 3vw;
    color: #AD6969;
}
.sma{
    padding-top : 5%; 
    /* margin-bottom : 5%;  */
    font-family: Laila;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7vw;
    line-height: 3vw;
    color: #AD6969;
}
.univ{
    padding-top : 5%; 
    /* margin-bottom : 5%;  */
    font-family: Laila;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7vw;
    line-height: 3vw;
    color: #AD6969;
}
.s1{
    width: 63vw;
    height: 43vw;
    padding-top: 2vw;
}
.coll{
    justify-content: start;
    text-align: center;
}
.colskill{
    justify-content: center;
    text-align: center;
    
}
.background4{
    background: url("../images/bg4.png") no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 57vw;
}
.experience{
    font-family: Shrikhand;
    font-weight: normal;
    padding-top : 2%;
    margin-bottom: 3%;
    font-size: 3vw;
    line-height: 3vw;
    text-align : center;
    color: #088E97;
}
.row1{
    padding-bottom: 5vw;
    justify-content: center;
    text-align: center;
}
.row-exp{
    justify-content: center;
    padding-bottom: 4vw;
    margin: 0px;
}
.exp1{
    width: 21vw;
    height: 8vw;
}
.exp2{
    width: 21vw;
    height: 8vw;
}
.exp3{
    width: 21vw;
    height: 8vw;
}
.exp4{
    width: 21vw;
    height: 8vw;
}
.exp5{
    width: 21vw;
    height: 8vw;
}
.exp6{
    width: 21vw;
    height: 8vw;
}
.exp7{
    width: 21vw;
    height: 8vw;
}
.exp8{
    width: 21vw;
    height: 8vw;
}
.qq{
    width: 24vw;
    height: 10vw;
    padding-left: 7vw;
}
.skills{
    font-family: Shrikhand;
    font-weight: normal;
    padding-top : 2%;
    font-size: 3.5vw;
    line-height: 3vw;
    text-align : center;
    color: #088E97;
}
.background5{
    background: url('/static/images/bg5.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 57vw;
    height: 50%;
}
.ccoo{
    justify-content: center;
    text-align: center;
}
.cc{
   padding: 2%; 
}
.s1{
    width: 14vw;
    height: 17vw;
    padding-top: 2vw;
}
.s2{
    width: 14vw;
    height: 17vw;
    padding-top: 2vw;
}
.s3{
    width: 14vw;
    height: 17vw;
    
    padding-top: 2vw;
}
.s4{
    width: 14vw;
    height: 17vw;
}
.s5{
    width: 14vw;
    height: 17vw;
    padding-top: 1vw;
}
.s6{
    width: 14vw;
    height: 17vw;
    padding-top: 2vw;
}
.gallery{
    font-family: Shrikhand;
    font-weight: normal;
    padding-top : 2%;
    font-size: 3.5vw;
    line-height: 3vw;
    text-align : center;
    color: #088E97;
}
.schedule{
    font-family: Shrikhand !important;
    font-weight: normal;
    padding-top : 2%;
    margin-bottom: 3%;
    font-size: 3vw;
    line-height: 3vw;
    text-align : center;
    color: #088E97;
}
.form-group{
    width: 100%;
    background-color: #8AC6D1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Laila', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 56px;
    color : white;
    text-align: center;
}
.form-row{
    text-align: center;
}

.inputSize{
    width: 80%;
    padding-right : 80%;
}