{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rani Aprilia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="s.css"> -->
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css?family=Kurale|Laila|Shrikhand&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body class="about" style= "position : fixed">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-home">
        <a class="navbar-brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
          <div class="navbutton navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'homepage:home1' %}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'homepage:about' %}">About</a>
            <a class="nav-item nav-link" href="{% url 'homepage:education' %}">Education</a>
            <a class="nav-item nav-link" href="{% url 'homepage:experience' %}">Experience</a>
            <a class="nav-item nav-link" href="{% url 'homepage:jadwal' %}">Schedule</a>
          </div>
        </div>
      </nav>

    <div class="container">
        <div class="row row-desc">
            <div class="col-md-4 col-12">
                <img class="DP" src="{% static 'images/DP2.png'%}" alt="dp">
            </div>
            <div class="col-md-8 col-12 col-desc">
                <p class="name">Hello, <br>my name is Rani Aprilia Astrianty</p>
                <p class="desc">I am 19 years old. I am currently studying as a second-year 
                        <br>student at the Faculty of Computer Science, majoring in 
                        <br>Information System at Universitas Indonesia.
                        <br>I’am a very responsible, thorough, and sociable person. 
                        <br>I love to draw, dance, and recently have interest in 
                        <br>photography.
                </p>
            </div>
        </div>
        <div class="row row-contact">
            <div class="col-3 col-contact">
                <a href='https://www.instagram.com/raniapriliaa/'><img id="ig" src="{% static 'images/ins.png'%}"> <br> raniapriliaa</a>
            </div>
            <div class="col-3 col-contact">
                <a href='https://twitter.com/raniiapriliaa'><img id = "twt" src="{% static 'images/twt.png'%}"><br> raniiapriliaa</a>
            </div>
            <div class="col-3 col-contact">
                <a href='mailto:rani.apriliaa@gmail.com'><img id = "mail" src="{% static 'images/mail.png' %}"><br> rani.apriliaa@gmail.com</a>
            </div>
            <div class="col-3 col-contact">
                <a href='https://line.me/en/'><img id = "line" src="{% static 'images/line.png' %}"><br> raniiapriliaa</a>
            </div>
        </div>
    </div>
</body>  
    
</html>
            
            
            
            
            
            
