<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rani Aprilia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css"> -->
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Kurale|Laila|Shrikhand&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>
<body class="background3">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-home">
        <a class="navbar-brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
          <div class="navbutton navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'homepage:home1' %}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'homepage:about' %}">About</a>
            <a class="nav-item nav-link" href="{% url 'homepage:education' %}">Education</a>
            <a class="nav-item nav-link" href="{% url 'homepage:experience' %}">Experience</a>
            <a class="nav-item nav-link" href="{% url 'homepage:jadwal' %}">Schedule</a>
          </div>
        </div>
      </nav>
    <div class="education text-center">Education</div>

    <div class = "container">
        <div class = "row row-contact">
            <div class = "col-md-6 ">
            </div>

            <div class = "col-md-2 col-sm-12 coll ">
                <img class="sdlogo" src="{% static 'images/sd.png'%}" alt="sd">
                
            </div>
            <div class="col-md-4 col-sm-12">
                <p class = "sd">Azhari Islamic School Cilandak
                <br>2006-2012</p>
            </div>
        </div>
       
        <div class = "row row-contact">
            <div class = "col-md-6 ">
            </div>
            <div class = "col-md-2 col-sm-12 coll ">
                <img class="smplogo" src="{% static 'images/smp.png'%}" alt="smp">
            </div>
            <div class="col-md-4 col-sm-12">
                <p class="smp">SMPN 218 Jakarta
                    <br>2012-2015
            </div>
        </div>

        <div class="row row-contact"> 
            <div class="col-md-6 "></div>
            <div class="col-md-2 col-sm-12 coll ">
                <img class = "smalogo" src="{% static 'images/sma.png'%}"alt="sma">
            </div>
            <div class="col-md-4 col-sm-12">
                <p class="sma">SMAN 28 Jakarta
                    <br>2015-2018</p>
            </div>
        </div>

        <div class="row row-contact"> 
            <div class="col-md-6 "></div>
            <div class="col-md-2 col-sm-12 coll ">
                <img class = "univlogo" src="{% static 'images/ui.png'%}"alt="ui">
            </div>
            <div class="col-md-4 col-sm-12 ">
                <p class="univ">Faculty of Computer
                    <br>Science, University of
                    <br>Indonesia
                    <br>2018 - present</p>
            </div>
        </div>
        

    </div>
                

</body>
    
