<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rani Aprilia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Kurale|Laila|Shrikhand&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>
<body class="background4" no-repeat;>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-home">
        <a class="navbar-brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
          <div class="navbutton navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'homepage:home1' %}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'homepage:about' %}">About</a>
            <a class="nav-item nav-link" href="{% url 'homepage:education' %}">Education</a>
            <a class="nav-item nav-link" href="{% url 'homepage:experience' %}">Experience</a>
            <a class="nav-item nav-link" href="{% url 'homepage:jadwal' %}">Schedule</a>
          </div>
        </div>
      </nav>
    <div class="experience text-center">Experience</div>

    
        <div class="row row-exp row1">
            <div class="col-md-3 col-sm-6 cc">
                <img class="exp1" src="{% static 'images/exp1.png'%}" alt="exp1">
            </div>
            <div class="col-md-3 col-sm-6 cc">
                <img class="exp2" src="{% static 'images/exp2.png'%}" alt="exp2">
            </div>
            <div class="col-md-3 col-sm-6 cc">
                <img class="exp3" src="{% static 'images/exp3.png'%}" alt="exp3">
            </div>
            <div class="col-md-3 col-sm-6 cc">
                <img class="exp4" src="{% static 'images/exp4.png'%}" alt="exp4">
            </div>
        </div>

        

        <div class="row row-exp row1 ">
                <div class="col-md-3 col-sm-6 cc">
                    <img class="exp5" src="{% static 'images/exp5.png'%}" alt="exp5">
                </div>
                <div class="col-md-3 col-sm-6 cc">
                    <img class="exp6" src="{% static 'images/exp6.png'%}" alt="exp6">
                </div>
                <div class="col-md-3 col-sm-6 cc">
                    <img class="exp7" src="{% static 'images/exp7.png'%}" alt="exp7">
                </div>
                <div class="col-md-3 col-sm-6 cc">
                    <img class="exp8" src="{% static 'images/exp8.png'%}" alt="exp8">
                </div>
    
        </div>
        <div class="row row-exp row1">
                <div class="col-md-12 col-sm-12 cc">
                    <img class="qq" src="{% static 'images/quote.png'%}" alt="quote">
                </div>
        </div>


    
